.pane{
	-fx-background-color: white;
	-fx-alignment: center;
	-fx-halignment: center;
	-fx-valignment: center;
}

.grid-pane{
	-fx-padding: 8px;
	-fx-vgap: 12px;
	
}

/*Modification de ScrollPane*/

.scroll-pane > .corner{
	-fx-background-color: white;
}

.scroll-bar{
	-fx-background-color: white;
	-fx-background-radius: 0;
}

.scroll-bar:vertical{
	-fx-pref-width: 25px;
}

.scroll-bar:horizontal{
	-fx-pref-height: 25px;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button{
	-fx-background-color: white;
	-fx-pref-height: 25px;
	-fx-pref-width: 25px;
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow{
	-fx-background-color: black;
	-fx-pref-height: 8px;
	-fx-pref-width: 12px;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow{
	-fx-background-color: black ;
	-fx-pref-height: 12px;
	-fx-pref-width: 8px;
}

.scroll-bar > .thumb{
	-fx-background-color: red;
	-fx-background-radius: 0;
	-fx-opacity: 0.6;
}

.scroll-bar > .thumb:hover{
	-fx-opacity: 1;
	-fx-pref-height: 10;
}

/* Modification de LineChart */

.chart{
	-fx-background-color: white;
	-fx-create-symbols: false;
	-fx-legend-visible: false;
	-fx-padding: 14px;
}

.chart-series-line{
	-fx-stroke: red;
	-fx-stroke-width: 2px;
}

.chart-plot-background{
	-fx-background-color: white;
}

.chart .axis{
	-fx-tick-label-font-size: 16px;
	-fx-tick-label-font-weight: bold;
}

/* Modification des controles */

.combo-box{
	-fx-pref-width: 225px;
	-fx-background-color: white;
	-fx-background-radius: 0;
	-fx-border-color: red;
	-fx-font-size: 18px;
}

.button{
	-fx-background-color: red;
	-fx-background-radius: 0;
	-fx-text-fill: white;
	-fx-font-size: 18px;
	-fx-pref-height: 35px;
	-fx-pref-width: 150px;
	
}

.button:hover{
	-fx-opacity: 0.5;
}

.toggle-button{
	-fx-background-color: red;
	-fx-background-radius: 0;
	-fx-text-fill: white ;
	-fx-font-size: 18px;
	-fx-pref-height: 35px;
	-fx-pref-width: 125px;
}

.toggle-button:selected{
	-fx-opacity: 0.5;
}

.text-field{
	-fx-background-radius: 0;
	-fx-border-color: red;
	-fx-font-size: 18px;
	-fx-pref-column-count: 5;
}

.label{
	-fx-font-size: 18px;
	-fx-padding: 8px;
	-fx-text-alignment: center;
}

.slider{
	-fx-padding: 10px;
}

.slider .track{
	-fx-background-radius: 0;
	-fx-pref-height: 1px;
}

.slider .axis{
	-fx-tick-label-font-size: 16px;
}
